@import "../../styles/styles.scss";

.cart {
  position: relative;
  .cart-container {
    width: 350px;
    min-height: 250px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 22px 24px 0 rgba(46, 51, 51, 0.07);
    padding: 20px;
    position: sticky;
    top: 30px;
  }

  .cart-cta {
    background-color: $prim-green;
    border: none;
    width: 100%;
    padding: 16px 0;
    border-radius: 5px;
    font-family: $font-title;
    font-size: 1rem;
    color: white;
    &:hover {
      cursor: pointer;
    }
    &:active {
      opacity: 0.7;
    }
  }

  .cart-cta--disabled {
    border: none;
    width: 100%;
    padding: 16px 0;
    border-radius: 5px;
    font-family: $font-title;
    font-size: 1rem;
    cursor: not-allowed;
    background: #bac3c3;
    color: #8b9a9b;
  }

  .cart-text {
    font-family: $font-main;
    color: $prim-grey;
    margin-top: 50px;
    text-align: center;
  }

  .cart-line {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;

    .cart-line-counter {
      display: flex;
      align-items: flex-start;

      .cart-line-counter--title {
        font-family: $font-main;
        color: $prim-black;
        font-size: 16px;
        margin-left: 10px;
        max-width: 180px;
      }
    }

    .cart-line-price {
      font-family: $font-main;
      color: $prim-black;
      font-size: 16px;
    }
  }

  .cart-sub-total {
    border-top: 1px solid $sec-grey;
    border-bottom: 1px solid $sec-grey;
    margin-bottom: 20px;
    font-family: $font-main;
    color: $prim-black;
    font-size: 16px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .cart-total,
  .cart-sub-total--sum,
  .cart-sub-total--fee {
    display: flex;
    justify-content: space-between;
  }

  .cart-total {
    font-family: $font-title;
    color: $prim-black;
    font-size: 16px;
  }
}
