@import "../../styles/styles.scss";
body {
  background-color: $bg-grey;
}

.content {
  margin-top: 30px;
  .content-center {
    @include container;
    display: flex;
  }
}

.menu {
  width: 850px;
  padding-right: 20px;
}
